@import "colours";
@import "sizes";
.createSizeClasses(@iterator:1) when(@iterator <= length(@sizes)) {
    @name: extract(extract(@sizes, @iterator),1);
    .button_@{name} {
        height: extract(extract(@sizes, @iterator),2);
        width: extract(extract(@sizes, @iterator),2);
    }
    .createSizeClasses((@iterator + 1));
}
.createSizeClasses();

.button_outer{
    display:inline-block;
}

.button_shape{
    //background-color: @buttonBackground;
    border-radius: 100%;
    display: block;
    box-shadow: 0px 0px 10px @shadowColour;
    border: 1px solid @lightBorder;
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
    margin: 3px;
}

.button_active{
    position: relative;
    border-radius: 50%;
    border: 1px solid darken(@green, 30%);
    box-shadow: 0 0 30px darken(@green, 30%);
    .button_shape{
        margin: 2px;
    }
    &:before,
    &:after {
        position: absolute;
        content: '';
        height: 50%;
        width: 50%;
        top: 25%;
        left: 25%;
        border-radius: 50%;
        box-shadow: @green-glow;
        animation: glow-grow 0.4s cubic-bezier(0.18, 0.89, 0.29, 0.95) infinite;
        z-index: -1;
        }
    &:after {
        animation-delay: .0.2s;
    }
}

@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.button_party {
    position: relative;
    border-radius: 50%;
    border: 1px solid darken(@magenta, 30%);
    box-shadow: 0 0 10px darken(@magenta, 30%);
    .button_shape{
        margin: 2px;
        .circle{
            .mask{
                clip: auto;
                .fill{
                    clip: auto;
                    background-color: @blue;
                }
            }
            .inset{
                background-color: @lightWhite;
            }
        }
    }
    &:before,
    &:after {
        position: absolute;
        content: '';
        height: 50%;
        width: 50%;
        top: 25%;
        left: 25%;
        border-radius: 50%;
        box-shadow: @magenta-glow;
        animation: glow-grow 0.4s cubic-bezier(0.18, 0.89, 0.29, 0.95) infinite;
        z-index: -1;
        }
    &:after {
        animation-delay: .0.2s;
    }
}
.button_party.paused{
    opacity:1;
}