//PINKS
@eraserPink: #b16060;
@darkPink: #775b5b;
@flushBorder: #bd5c5c;
@warning: #ff00a3;

//GREYS
@shadowColour: #544848;
@greyRubber: #6f5e5e;
@rubberEdge:#564c4c;
@greyBack:#424242;
@buttonBackground:#717171;
@lightBorder: #444444;
@lightWhite: #fff; //#e6e6e6;

//BRIGHTS
@yellow:rgb(218, 253, 18);
@green: #6dff9c;
@blue: #009be1;
@red: #ff1842;
@magenta: #f0f;
@blue: #009eff;

//GRADIENTS
@magenta-glow: inset 0 0 50px #fff,      /* inner white */
          inset 20px 0 80px @magenta,   /* inner left magenta short */
          inset -20px 0 80px #0ff,  /* inner right cyan short */
          inset 20px 0 300px @magenta,  /* inner left magenta broad */
          inset -20px 0 300px #0ff, /* inner right cyan broad */
          0 0 50px #fff,            /* outer white */
          -10px 0 80px @magenta,        /* outer left magenta */
          10px 0 80px #0ff;         /* outer right cyan */;

@green-glow: inset 0 0 50px #fff,      /* inner white */
          inset 20px 0 80px @green,   /* inner left magenta short */
          inset -20px 0 80px @magenta,  /* inner right cyan short */
          inset 20px 0 300px @green,  /* inner left magenta broad */
          inset -20px 0 300px @magenta, /* inner right cyan broad */
          0 0 50px #fff,            /* outer white */
          -10px 0 80px @green,        /* outer left magenta */
          10px 0 80px @magenta;         /* outer right cyan */;
