@import "colours";
body{
    height:100%;
    width:100%;
    position: absolute;
    margin: 0px;
    .outer{
        transition: background-color 3000ms ease;
        height:100%;
        overflow: hidden;
        .main{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            justify-content: center;
        }
        #overlay{
            height: 100%;
            width: 100%;
            transition: opacity 0.5s;
        }
        #overlay.win{
            background-color: #fff;
        }
        #overlay.hidden{
            opacity: 0;
        }
        #overlay.show{
            opacity: 1;
        }
        #counter{
            position: absolute;
            right: 0;
            margin: 20px;
            font-size: 15px;
            color: white;
            font-family: sans-serif;
            letter-spacing: 10px;
            font-weight: lighter;
            opacity: .2;
            z-index: 1;
        }
    }
    .outer.paused{
        background: radial-gradient(#505050, rgb(110, 46, 110)) !important;
        animation: backgroundAnimation 1s ease infinite;
        background-size: 300% !important;
    }
    //@heats: 250, 500, 750, 1000, 1250, 1500, 1750;
    .outer.heat250{
        box-shadow: inset 0 0 50px rgb(0, 0, 0);
        background: radial-gradient(rgb(248, 40, 75), @greyBack);
    }
    .outer.heat500{
        box-shadow: inset 0 0 50px rgb(68, 68, 68);
        background: radial-gradient(#c05b7e, @greyBack);
    }
    .outer.heat750{
        box-shadow: inset 0 0 50px rgb(95, 95, 95);
        background: radial-gradient(#98799c, @greyBack);
    }
    .outer.heat1000{
        box-shadow: inset 0 0 50px rgb(116, 116, 116);
        background: radial-gradient(#8786aa, @greyBack);
    }
    .outer.heat1250{
        box-shadow: inset 0 0 50px rgb(155, 155, 155);
        background: radial-gradient(#689bbf, @greyBack);
    }
    .outer.heat1500{
        box-shadow: inset 0 0 50px rgb(196, 196, 196);
        background: radial-gradient(#56a8cc, @greyBack);
    }
    .outer.heat1750{
        box-shadow: inset 0 0 50px rgb(255, 255, 255);
        background: radial-gradient(#02d9ff, @greyBack);
    }
}
@keyframes pausedAnimation {
    0%   {opacity: 0.1 ;}
    100% {opacity: 0.5;}
  }
.paused {
    background-color: @green;
    animation: pausedAnimation 0.2s infinite;
    transition: opacity .1s ease-in-out;
}

@keyframes backgroundAnimation { 
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}

// .game_changer_slowDown{
//     background-color: red;
// }
// .game_changer_win {
//     background-color: blue;
// }
// .game_changer_speedUp {
//     background-color: yellow;
// }
// .game_changer_die {
//     background-color: black;
// }
// .game_changer_pause {
//     background-color: orange;
// }

// @directions: left '\f0d9', right '\f0da', up '\f0d8', down '\f0d7', square '\f0c8';
// .createDirectionWeapons(@iterator:1) when(@iterator <= length(@directions)) {
//     @name: extract(extract(@directions, @iterator),1);
//     @icon: extract(extract(@directions, @iterator),2);
//     .game_changer_good_@{name} {
//     }
//     .createDirectionWeapons((@iterator + 1));
// }
// .createDirectionWeapons();