@import "sizes";
@import "colours";
.createRadialClasses(@iterator:1) when(@iterator <= length(@sizes)) {
    @name: extract(extract(@sizes, @iterator),1);
    .radial_progress_@{name} {
        @circle-size: extract(extract(@sizes, @iterator),2);
        @inset-size : (@circle-size - 6); // - how thick is the spinner - even number
        @inset-color: @buttonBackground;
        @circle-color: @green;
        @transition-length: 1s;
        .circle {
            .mask, .fill{
                width:    @circle-size;
                height:   @circle-size;
                position: absolute;
                border-radius: 50%;
            }
            .mask, .fill {
                transition: transform @transition-length;
                border-radius: 50%;
            }
            .mask {
                clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
                .fill {
                    clip: rect(0px, @circle-size/2, @circle-size, 0px);
                    background-color: @circle-color;
                }
            }
        }
        .inset {
                width:       @inset-size;
                height:      @inset-size;
                position:    absolute;
                background-color: @inset-color;
                border-radius: 50%;
                margin-left: (@circle-size - @inset-size)/2;
                margin-top:  (@circle-size - @inset-size)/2;
                .fa{
                    position: absolute;
                    width: 100%;
                    line-height: @inset-size;
                    font-size: (@circle-size / 3);
                    text-align: center;
                    color: #fff;
                }
                .fa-bolt{
                    color: #111;
                }
            }

        @i: 0;
        @increment: 360deg / 100;
        .loop (@i) when (@i <= 100) {
            &[data-progress="@{i}"] {
                .circle {
                    .mask.full, .fill {
                        -webkit-transform: rotate(@increment * @i);
                        -ms-transform: rotate(@increment * @i);
                        transform: rotate(@increment * @i);
                    }	
                    .fill.fix {
                        -webkit-transform: rotate(@increment * @i * 2);
                        -ms-transform: rotate(@increment * @i * 2);
                        transform: rotate(@increment * @i * 2);
                    }
                    .fill when (@i <= 10) {
                        background-color: @warning;
                    }
                }
            }
            .loop(@i + 1);
        }
        .loop(@i);
    }
    .createRadialClasses((@iterator + 1));
}
.createRadialClasses();