<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta charset="UTF-8" />
        <title>Buttons</title>
        <script src="node_modules/vue/dist/vue.min.js"></script>
        <script src="js/require.min.js"></script>
        <script src="js/index.js"></script>
        <link rel="stylesheet" type="text/css" href="css/button.css">
        <link rel="stylesheet" type="text/css" href="css/radial.css">
        <link rel="stylesheet" type="text/css" href="css/game.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div id="outer_main" class="outer heat1000">
            <div id="counter"></div>
            <div id='overlay' class='hidden'></div>
            <div class="main" id="game-body">
                    <div v-for="(button, index) in buttons"
                        v-on:click="button.onClick(button, $event)"
                        v-bind:id="button.id"
                        v-bind:class="button.classes"
                        :data-button="button.button"
                        :data-weapon="button.weapon"
                        :data-neighbours="button.neighbours">
                        <component :is="inners[index]"
                                    :data-timer="button.timer"
                                    :data-progress="button.progress"></component>
                    </div>
            </div>
        </div>
    </body>
</html>